#mypage-content {
    width: 72vw;
    margin: 1vw 0vw 1vw 1vw;
}

#mypage-detail-contents {
    display: flex;
}

#mypage-graphs {
    display: flex;
}

#mypage-list {
    width: 70vw;
    height: 32vh;
    background-color: #FFFEFE;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 0.1rem 0rem #b2b2b2;
}

.mypage-list-title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 0.6rem 0rem;
}

.mypage-list-title {
    font-weight: bold;
}

.mypage-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDF9;
    box-shadow: 0rem 0.1rem 0.2rem 0rem #6a6a6a;
    width: 5rem;
    height: 1.8rem;
    border-radius: 1rem;
    margin-left: 44.3rem;
    font-size: 0.9rem;
}

.analysis-list {
    width: 67vw;
    margin: auto;
}

.analysis-list .list-thead {
    padding-bottom: 0.5rem;
}

.analysis-list .list-tbody {
    height: 20vh;
    overflow: auto;
}

.analysis-list .list-table {
    width: 67vw;
}

.analysis-list .list-elem {
    box-shadow: none;
    background-color: #FFFAF0;
    font-size: 0.9rem;
    margin: 0;
}

.analysis-list .list-elem:nth-child(even) {
    background-color: #FFFEFE;
}

.analysis-list .list-progress {
    width: 27vw;
}

.analysis-list .list-thead div:nth-child(4) {
    width: 27vw;
}

.analysis-list hr {
    margin: 0;
    border: solid 0.05rem #c8c8c8;
}