.take-exam-content-ex-title {
    display: flex;
}

.take-exam-content-ex-title > div:first-child {
    margin-right: 1rem;
}

.take-exam-content-ex-title > div {
    width: 50%;
    padding: 0.3rem 0rem 0.5rem 0.7rem;
    font-size: 0.9rem;
}

.take-exam-content-ex-title img {
    height: 0.5rem;
    margin-left: 0.5rem;
}

.take-exam-content-ex {
    display: flex;
    margin-bottom: 1rem;
}

.take-exam-content-ex > div:first-child {
    margin-right: 1rem;
}

.take-exam-content-ex > div {
    width: 50%;
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
    background-color: #FFFDF9;
    box-shadow: 0 0.2rem 0.12rem 0 #c8c8c8;
}

.take-exam-content-ex:nth-child(even) > div {
    background: #eeecec;
}