@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

#card {
    position: fixed;
    left: 60%;
    top: 15%;
    z-index: 2147483647;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 0.5px, rgba(26, 33, 52, 0.2) 0px 2px 8px;
    border-top-left-radius: 23px !important;
    font-family: 'Alatsi', sans-serif;
}

#title {
    text-align: right;
    background-color: #e0e0e0;
    width: 250px;
    height: 30px;
    border: 2px solid black;
    border-top-left-radius: 23px !important;
    font-size: 17px;
    font-family: 'Changa One', cursive;
    position: relative;
    line-height: 29px;
}

#title span {
    display: block;
    text-align: center;
    position: relative;
}

#title:hover {
    background-color: #e0e0e0;
    cursor: grab;
}

#title-bar {
    padding: 12px 0px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1px 15px 0px 0px;
}

#title-bar:hover {
    cursor: pointer;
}

#menu {
    background-color: white;
    width: 250px;
    height: 60px;
    border: 2px solid black;
    border-top: none;
    text-align: center;
    clear: both;
}

.buttons {
    display: inline-block;
    width: 53px;
    height: 53px;
    cursor: pointer;
}

.buttons:hover {
    border-radius: 28px !important;
    box-shadow: #646464 0px 1px 4px 0px;
}

.buttons:active {
    box-shadow: none;
}

.button-imgs {
    width: 53px !important;
}

#probs-btn {
    margin: 3px 20px;
}

/* tag */
.sub-menus {
    width: 250px;
    height: 180px;
    border: 2px solid black;
    border-top: none;
    background-color: #FFF1F1;
    text-align: center;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}

.result-container {
    text-align: left;
    padding: 7px 10px;
    font-size: 13px;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}

#gsb-description-textarea {
    resize: none;
    width: 235px;
    height: 125px;
    margin-top: 7px;
    padding: 5px;
    border: solid 2px #E2E2E2;
    border-radius: 7.5px !important;
    font-family: 'Alatsi', sans-serif !important;
    box-sizing: border-box;
}

#gsb-description-textarea:focus {
    outline: solid 2px #a7a7a7;
}

#gsb-description-textarea::-webkit-scrollbar {
    width: 8px;
}

#gsb-description-textarea::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 10px;
    width: 5px;
}

#description-btn-container {
    display: flex;
    justify-content: center;
}

.description-btns {
    background-color: #EF7A7A;
    color: white;
    border: none;
    border-radius: 7.5px ! important;
    height: 35px;
    width: 80px;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
}

.description-btns:hover {
    background-color: #e79d9d;
    cursor: pointer;
}

.description-btns:disabled {
    background-color: #e79d9d;
    cursor: default;
}

#erase-btn {
    margin: 0px 32px 0px 3px;
    width: 50px;
}

#tag-predict-btn {
    background-color: #6F94BF;
    width: 70px;
}

#tag-predict-btn:hover {
    background-color: #a7c1e0;
    cursor: pointer;
}

#tag-predict-btn:disabled {
    background-color: #a7c1e0;
    cursor: default
}

.loading-img {
    height: 80px;
}

.result-title-box {
    height: 27px;
    width: 15px;
    float: left;
    background-color: #F14141;
}

.result-title-name {
    height: 27px;
    width: 160px;
    background-color: white;
    float: left;
    font-weight: bold;
    padding: 0;
    margin-bottom: 8px;
    padding-left: 4px;
    line-height: 27px;
}

#tag-result-ol {
    list-style: none;
    counter-increment: step;
    clear: both;
    font-weight: bold;
    padding-left: 0;
    margin-bottom: 0;
}

#tag-result-ol li {
    counter-increment: steps;
}

#tag-result-ol li::before {
    content: counter(steps);
    margin-right: 5px;
    background: #EA6F6F;
    color: white;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
}

.result-title {
    display: inline-block;
    font-weight: bold;
}

.result-percentage {
    display: inline-block;
    float: right;
    font-weight: bold;
}

#first-percentage {
    color: #F14141;
}

.result-hr {
    border: 0px;
    border-top: 2px dashed #C8C8C8;
    margin: 6px 0px;
}

.recommend-menus {
    background-color: #FFFAE8;
    word-break: break-all;
}

.result-container.recommend-menus {
    height: 100%;
    padding-bottom: 10px;
}

#recommend-title-box {
    background-color: #FFBF1B;
}

#recommend-title-name {
    width: 180px;
}

#recommend-ul {
    list-style-type: none;
    font-weight: bold;
    clear: both;
    padding-left: 0;
    margin-bottom: 0;
}

.recommend-number {
    float: left;
    margin-right: 3px;
    background-color: #FDD56D;
    width: 63px;
    color: white;
    border-radius: 7px !important;
    text-align: center;
    text-decoration: none;
    outline: none
}

.recommend-number:hover, .recommend-number:active {
    text-decoration: none;
    color: #fff;
    background-color: #ffb800;
    cursor: pointer;
}

.faLink {
    height: 13px;
    color: #23C115;
}

.timer-container {
    height: 78px;
    background-color: #F0FAEF;
    font-weight: bold;
}

.timer-setting {
    border: 2.39px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: inline-block;
    width: 37px;
    height: 22px;
    background-color: #f0faef;
    text-align: center;
}

.timer-setting:focus {
    outline: none;
}

.timer-division {
    font-size: 19px;
    margin: 0px 5px;
}

.timer-btns {
    height: 24px;
    color: white;
    cursor: pointer;
    border-radius: 15px !important;
    border: none;
    font-size: 13px;
    font-family: 'Alatsi', sans-serif !important;
}

#timer-start {
    width: 65px;
    background-color: #FF9F2D;
    margin: 7px 0px 0px 7px;
}

#timer-start:hover {
    background-color: #ffbe70;
}

#stop-watch-btn {
    width: 135px;
    background-color: #54C459;
    margin-bottom: 7px;
}

#stop-watch-btn:hover {
    background-color: #8ecd90;
}

#timer-hr {
    border-top: 1.6px solid #939393;
    margin: 6px 0px;
}

#timer-bar {
    background-color: white;
    width: 250px;
    height: 30px;
    border: 2px solid black;
    font-size: 12px;
    border-top: none;
    line-height: 30px;
}

#timer-time {
    float: left;
    width: 50%;
    height: 100%;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
    text-align: center;
}

.timer-bar-btns {
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    height: 100%;
    cursor: pointer;
    font-size: 12px;
}

.timer-bar-btns:hover {
    box-shadow: inset #515151a6 0px 1px 4px 0px;
}

#stop-btn {
    background-color: #90DA57;
    width: 20%;
}

#terminate-btn {
    background-color: #FF7E55;
    width: 30%
}