@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

#card {
    position: fixed;
    left: 60%;
    top: 15%;
    z-index: 2147483647;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 0.5px, rgba(26, 33, 52, 0.2) 0px 2px 8px;
    border-top-left-radius: 2.3rem !important;
}

#title {
    text-align: right;
    background-color: #e0e0e0;
    width: 25rem;
    height: 3rem;
    border: 0.2rem solid black;
    border-top-left-radius: 2.3rem !important;
    font-size: 1.7rem;
    line-height: 2.7rem;
    font-family: 'Changa One', cursive;
}

#title:hover {
    background-color: #e0e0e0;
    cursor: grab;
}

#title-bar {
    margin: 0rem 1.5rem 0rem 2.2rem;
    padding: 1.2rem 0rem 1.2rem 0rem;
}

#title-bar:hover {
    cursor: pointer;
}

#menu {
    background-color: white;
    width: 25rem;
    height: 6rem;
    border: 0.2rem solid black;
    border-top: none;
    text-align: center;
}

.buttons {
    display: inline-block;
    width: 5.3rem;
}

.button-imgs {
    width: 5.3rem !important;
}

#probs-btn {
    margin: 0.3rem 2rem;
}

/* tag */
.sub-menus {
    width: 25rem;
    height: 18rem;
    border: 0.2rem solid black;
    border-top: none;
    background-color: #FFF1F1;
    text-align: center;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

.result-container {
    text-align: left;
    padding: 0.7rem 1rem;
}

#description-textarea {
    resize: none;
    width: 23.5rem;
    height: 12.5rem;
    margin-top: 0.7rem;
    padding: 0.5rem;
    border: solid 0.2rem #E2E2E2;
    border-radius: 0.75rem !important;
}

#description-textarea:focus {
    outline: solid 0.2rem #a7a7a7;
}

#description-textarea::-webkit-scrollbar {
    width: 0.8rem;
}

#description-textarea::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 1rem;
    width: 0.5rem;
}

#description-btn-container {
    display: flex;
    justify-content: center;
}

.description-btns {
    background-color: #EF7A7A;
    color: white;
    border: none;
    border-radius: 0.75rem ! important;
    height: 3.5rem;
    width: 8rem;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.6rem;
}

.description-btns:hover {
    background-color: #e79d9d;
    cursor: pointer;
}

.description-btns:disabled {
    background-color: #e79d9d;
    cursor: default;
}

#erase-btn {
    margin: 0rem 3.2rem 0rem 0.3rem;
    width: 5rem;
}

#tag-predict-btn {
    background-color: #6F94BF;
    width: 7rem;
}

#tag-predict-btn:hover {
    background-color: #a7c1e0;
    cursor: pointer;
}

#tag-predict-btn:disabled {
    background-color: #a7c1e0;
    cursor: default
}

.loading-img {
    height: 8rem;
}

.result-title-box {
    height: 2.7rem;
    width: 1.5rem;
    float: left;
    background-color: #F14141;
}

.result-title-name {
    height: 2.7rem;
    width: 16rem;
    background-color: white;
    float: left;
    font-weight: bold;
    padding: 0.4rem 0rem 0rem 0.4rem;
    margin-bottom: 0.8rem;
}

#tag-result-ol {
    list-style: none;
    counter-increment: step;
    clear: both;
    font-weight: bold;
}

#tag-result-ol li {
    counter-increment: steps;
}

#tag-result-ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #EA6F6F;
    color: white;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
}

.result-title {
    display: inline-block;
    font-weight: bold;
}

.result-percentage {
    display: inline-block;
    float: right;
    font-weight: bold;
}

#first-percentage {
    color: #F14141;
}

.result-hr {
    border: 0rem;
    border-top: 0.2rem dashed #C8C8C8;
    margin: 0.6rem 0rem;
}

.recommend-menus {
    background-color: #FFFAE8;
}

#recommend-title-box {
    background-color: #FFBF1B;
}

#recommend-title-name {
    width: 18rem;
}

#recommend-ul {
    list-style-type: none;
    font-weight: bold;
    clear: both;
}

.recommend-number {
    float: left;
    margin-right: 0.3rem;
    background-color: #FDD56D;
    width: 6.3rem;
    color: white;
    border-radius: 0.7rem !important;
    text-align: center;
    text-decoration: none;
    outline: none
}

.recommend-number:hover, .recommend-number:active {
    text-decoration: none;
    color: #fff;
    background-color: #ffb800;
    cursor: pointer;
}

.faLink {
    height: 1.3rem;
    color: #23C115;
}

.timer-container {
    height: 7.8rem;
    background-color: #F0FAEF;
    font-weight: bold;
}

.timer-setting {
    border: 0.239rem solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: inline-block;
    width: 3.7rem;
    height: 2.2rem;
    background-color: #f0faef;
    text-align: center;
}

.timer-division {
    font-size: 1.9rem;
    margin: 0rem 0.5rem;
}

.timer-btns {
    height: 2.4rem;
    color: white;
    cursor: pointer;
    border-radius: 15px !important;
    border: none;
}

#timer-start {
    width: 6.5rem;
    background: #FF9F2D;
    margin: 0.7rem 0rem 0rem 0.7rem;
}

#stop-watch-btn {
    width: 13.5rem;
    background: #54C459;
    margin-bottom: 0.7rem;
}

#timer-hr {
    border-top: 0.16rem solid #939393;
    margin: 0.6rem 0rem;
}