@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

#card {
    position: fixed;
    left: 60%;
    top: 15%;
    z-index: 2147483647;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 0.5px, rgba(26, 33, 52, 0.2) 0px 2px 8px;
    border-top-left-radius: 2.3rem !important;
}

#title {
    text-align: right;
    background-color: white;
    width: 25rem;
    height: 3rem;
    border: 0.2rem solid black;
    border-top-left-radius: 2.3rem !important;
    font-size: 1.7rem;
    line-height: 2.7rem;
    font-family: 'Changa One', cursive;
}

#title:hover {
    background-color: #e0e0e0;
    cursor: grab;
}

#title-bar {
    margin: 0rem 1.5rem 0rem 2.2rem;
    padding: 1.2rem 0rem 1.2rem 0rem;
}

#title-bar:hover {
    cursor: pointer;
}

#menu {
    background-color: white;
    width: 25rem;
    height: 6rem;
    border: 0.2rem solid black;
    border-top: none;
    text-align: center;
}

.buttons {
    display: inline-block;
    width: 5.3rem;
}

.button-imgs {
    width: 5.3rem !important;
}

#probs-btn {
    margin: 0.3rem 2rem;
}