.summary-intro {
    width: 15vw;
    min-width: 9rem;
    margin: 0vw 4vw 0vw 4vw;
}

img.summary-icon {
    width: 8vw;
    min-width: 5rem;
}

.summary-title {
    font-weight: bold;
    margin: 0.7rem 0rem;
    font-size: 1.2rem;
}

.summary-content {
    font-size: 0.9rem;
    line-height: 1.3rem;
}